  @font-face {
    font-family : "Museo Sans Cyrl";
    font-style  : normal;
    font-weight : 100;
    src         : url("../fonts/MuseoSansCyrl.otf") format("opentype");
    font-display: swap;
  }

  @font-face {
    font-family : "Museo Sans Cyrl";
    font-style  : normal;
    font-weight : 300;
    src         : url("../fonts/MuseoSansCyrl_0.otf") format("opentype");
    font-display: swap;
  }

  @font-face {
    font-family : "Museo Sans Cyrl";
    font-style  : normal;
    font-weight : 500;
    src         : url("../fonts/MuseoSansCyrl_1.otf") format("opentype");
    font-display: swap;
  }

  @font-face {
    font-family : "Museo Sans Cyrl";
    font-style  : normal;
    font-weight : 700;
    src         : url("../fonts/MuseoSansCyrl_2.otf") format("opentype");
    font-display: swap;
  }

  @font-face {
    font-family : "Museo Sans Cyrl";
    font-style  : normal;
    font-weight : 900;
    src         : url("../fonts/MuseoSansCyrl_3.otf") format("opentype");
    font-display: swap;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    position: relative;

    margin : 0;
    padding: 0;

    background-color: #FFF;

    font-family   : "Museo Sans Cyrl", Arial, sans-serif;
    font-size     : 9px;
    font-weight   : 100;
    color         : #8993ad;
    line-height   : 13px;
    word-wrap     : break-word;
    letter-spacing: 0em;

    overflow-x: hidden;
  }

  img {
    max-width: 100%;
    height   : auto;
  }

  a {
    text-decoration: none;
    color          : inherit;
    font           : inherit;
    cursor         : pointer;
  }

  ul {
    list-style: none;
    padding   : 0;
    margin    : 0;
  }

  h1,
  h2,
  h3,
  p {
    padding: 0;
    margin : 0;

    font: inherit;
  }

  button {
    border : none;
    margin : 0;
    padding: 0;

    background-color: transparent;
    cursor          : pointer;
  }

  .visually-hidden {
    position: absolute !important;
    clip    : rect(1px 1px 1px 1px);
    clip    : rect(1px, 1px, 1px, 1px);
    border  : 0 !important;
    height  : 1px !important;
    width   : 1px !important;
    padding : 0 !important;
    overflow: hidden;
  }

  .container {
    width : 340px;
    margin: 0 auto;
  }

  .title {
    font-size     : 36px;
    font-weight   : 900;
    line-height   : 43px;
    letter-spacing: 0em;
    color         : #000000;
    text-align    : center;
    text-transform: uppercase;
  }

  .price {
    font-size  : 18px;
    font-weight: 900;
    line-height: 22px;
    text-align : center;
    color      : #000000;

    background-color: #FFD241;
  }

  .btn {
    border-radius: 30px;

    font-size     : 12px;
    font-weight   : 500;
    line-height   : 14px;
    text-align    : center;
    text-transform: uppercase;

    background-color: #FFD241;
  }

  @media(min-width: 768px) {
    .container {
      width: 720px;
    }
  }

  @media(min-width: 1024px) {
    .container {
      width: 780px;
    }
  }