.header {
    background-color: #FFD241;
}

.header__container {
    position: relative;

    display        : flex;
    justify-content: flex-end;


}

.header__menu-btn {
    /* margin-right : 17px; */
    margin-top   : 23px;
    margin-bottom: 25px;
}

.menu-btn {
    display       : flex;
    flex-direction: column;

    width : 30px;
    height: 23px;
}

.menu-btn__elem {
    width : 100%;
    height: 5px;

    background-color: #000;
    ;
}

.menu-btn__elem:not(:last-child) {
    margin-bottom: 4px;
}

.menu_close {
    display: none;
}

@media(min-width: 1024px) {
    .header__container {
        width        : 100%;
        padding-right: 23px;
    }
}