/* hot tours */
.glide__track {
  overflow: hidden;
}

.tours_hot {
  margin-bottom: 41px;
  border-bottom: 2px solid #C4C4C4;
}

.tours__title_hot {
  position: relative;

  margin-top   : 37px;
  margin-bottom: 46px;
}

.tours__title_hot::after {
  content         : "";
  position        : absolute;
  bottom          : -14px;
  display         : block;
  width           : 100%;
  height          : 2px;
  background-color: #C4C4C4;
}

.offers__item {
  margin-bottom: 30px;
}

.offers__wrap {
  position: relative;

  margin-bottom: 10px;
}

.offers__price {
  position: absolute;
  bottom  : 3px;
  left    : 0;

  display: block;
  padding: 14px 26px;

}

.offers__price_island {
  padding: 14px 36px;
}

.offers__price_turkey {
  padding: 14px 41px;
}

.offers__country {
  margin-bottom: 7px;

  font-size     : 9px;
  font-weight   : 300;
  line-height   : 11px;
  color         : #C5B223;
  text-transform: uppercase;
}

.offers__title {
  margin-bottom: 20px;

  font-size  : 18px;
  font-weight: 700;
  line-height: 22px;
  color      : #000000;
}

.offers__route {
  margin-bottom: 15px;
  font-weight  : 500;
}

.offers__desc {
  line-height: 11px;
  color      : #000000;
  font-weight: 700;
}

.offers__space {
  display    : inline-block;
  margin-left: 7px;
}

.offers__add {
  display      : inline-block;
  margin-top   : 12px;
  padding      : 3px 18px 3px 12px;
  border-radius: 3px;

  color         : #FFFFFF;
  font-weight   : 500;
  letter-spacing: .2px;

  background-color: #CB0037;
}

.tours__download {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  margin         : 31px auto 21px;
  padding        : 13px 93px 11px;
}

.download__arrow {
  align-self   : center;
  margin-top   : 6px;
  height       : 5px;
  width        : 5px;
  border-left  : 1px solid #000000;
  border-bottom: 1px solid #000000;

  transform: rotate(-45deg);
}

/* popular tours */

.tours_popular {
  border-bottom: 2px solid #C4C4C4;
  margin-bottom: 36px;
}

.tours__title_popular {
  margin-bottom: 21px;
}

.tours__popular-wrap {
  overflow: hidden;
}

.tours__items_popular {
  margin-bottom: 50px;
}

.popular {
  display: flex;
}

.popular__item {
  position : relative;
  min-width: 253px;
}

.popular__item:not(:last-child) {
  margin-right: 27px;
}

.popular__wrap {
  position: relative;

  margin-bottom: 7px;
}

.popular__price {
  position: absolute;
  left    : 0;
  bottom  : 4px;

  padding: 11px 21px;
  display: block;
}

.popular__country {
  margin-bottom: 7px;

  font-size     : 9px;
  font-weight   : 300;
  line-height   : 11px;
  color         : #C5B223;
  text-transform: uppercase;
}

.popular__title {
  font-size  : 18px;
  font-weight: 700;
  line-height: 22px;
  color      : #000000;
}

/* get user info */

.app__title {
  margin-bottom: 27px;

  font-size  : 36px;
  font-weight: 700;
  line-height: 43px;

  color: #000000;
}

.form {
  font-size     : 10px;
  color         : #000000;
  text-transform: uppercase;
}

.form__fieldset {
  border : none;
  margin : 0;
  padding: 0;
}

.form__legend {
  display      : inline-block;
  margin-bottom: 31px;
  border-bottom: 2px solid #000;

  vertical-align: top;
  font-weight   : 500;
  line-height   : 18px;
}

.form__user-outer {
  margin-bottom: 35px;
}

.form__user-wrap:not(:last-child) {
  margin-bottom: 20px;
}

.form__label {
  display      : block;
  margin-bottom: 8px;
  font-weight  : 700;
}

.form__input {
  width : 100%;
  height: 50px;

  padding      : 19px 30px;
  border       : 1px solid #E7E7E7;
  border-radius: 3px;

  background: #FFFFFF;
}

.form__input::placeholder {
  color         : #8C8C8C;
  letter-spacing: 1px;
}

.form__wrap {
  display        : flex;
  justify-content: space-around;
  align-items    : flex-end;
  margin-bottom  : 35px;
}

.form__chk {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

.chk {
  max-width : 91px;
  text-align: center;
}

.chk__label {
  margin-bottom: 9px;
  font-weight  : 500;
}

.chk__input {
  width        : 40px;
  height       : 40px;
  border       : 1px solid #E7E7E7;
  border-radius: 3px;
}

.form__agreements {
  margin-bottom: 28px;
}

.agreements {
  text-transform: none;
  display       : flex;
  flex-wrap     : wrap;
  align-items   : center;

  font-weight: 500;
}

.agreements__input {
  margin-right : 15px;
  width        : 15px;
  height       : 15px;
  border       : 1px solid #E7E7E7;
  border-radius: 3px;
}

.agreements__desc {
  margin-top : 11px;
  margin-left: 35px;
  color      : #C1C1C1;
  font-weight: 300;
}

.agreements__info {
  display    : block;
  margin-top : 39px;
  margin-left: 35px;

  text-transform: none;
  font-size     : 10px;
  color         : #C1C1C1
}

.form__star-icon {
  color    : red;
  font-size: 10px;
}

.form__btn {
  margin: 28px auto 39px;
}

.btn-send {
  display        : flex;
  justify-content: space-between;
  min-width      : 280px;
  padding        : 17px 30px;
}

.btn-send__arrow {
  align-self   : center;
  height       : 5px;
  width        : 5px;
  border-right : 1px solid #000000;
  border-bottom: 1px solid #000000;

  transform: rotate(-45deg);
}

@media(min-width: 768px) {
  .tours__title_hot {
    margin-top   : 46px;
    margin-bottom: 35px;
  }

  .tours__title_hot::after {
    display: none;
  }

  .tours__btn-wrap {
    overflow     : hidden;
    display      : flex;
    margin-bottom: 16px;
  }

  .tours__btn {
    position: relative;

    height       : 30px;
    padding-left : 11px;
    padding-right: 5px;
    margin-right : 15px;

    line-height   : 17px;
    line-height   : 17px;
    text-transform: uppercase;
    font-size     : 14px;
    font-weight   : 900;

    background-color: #CDCDCD;
  }

  .tours__btn:hover {
    background-color: red;
  }

  .tours__btn::before,
  .tours__btn::after {
    content : "";
    position: absolute;

    height: 0;
    width : 0;
  }

  .tours__btn::after {
    top  : 0;
    right: -10px;

    border-top   : 15.5px solid transparent;
    border-bottom: 15.5px solid transparent;
    border-left  : 10px solid #CDCDCD;
  }

  .tours__btn:hover::after {
    border-left-color: red;
  }

  .tours__btn:not(:first-child)::before {
    top : 0;
    left: -8.5px;

    border-top   : 15px solid #CDCDCD;
    border-bottom: 15px solid #CDCDCD;
    border-left  : 10px solid transparent;
  }

  .tours__btn:hover::before {
    border-top-color   : red;
    border-bottom-color: red;
  }

  .offers__sub-list {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
  }

  .offers__item {
    width: 340px
  }
}

@media(max-width: 1023px) {
  .tours__btn-wrap {
    display: none;
  }

  .offers__item_mobile {
    display: none;
  }

  .tours__btn-arrow {
    display: none;
  }

  .popular {
    overflow-x: auto;
  }
}

@media(min-width: 1024px) {

  .glide,
  .glide {
    position: relative;
  }

  .tours_hot {
    border-bottom: none;
  }

  .offers {
    display: flex;
    width  : 10000px;
  }

  .offers__item {
    width: 380px
  }

  .tours_popular {
    position     : relative;
    border-bottom: none;
  }

  .tours__items_popular {
    width: 10000px;
  }

  .popular__item {
    min-width: 380px;
  }

  .tours__download {
    display: none;
  }

  .tours__btn-arrow {
    position: absolute;
    right   : -47px;
    top     : 47%;

    width        : 17px;
    height       : 17px;
    border-right : 3px solid #000;
    border-bottom: 3px solid #000;

    transform: rotate(-45deg) translateY(-100%);
  }

  /* TODO replace border-color */
  .tours__btn-arrow:hover,
  .tours__btn-arrow:focus {
    outline      : none;
    border-right : 3px solid red;
    border-bottom: 3px solid red;
  }

  /*  */
  .app__title {
    text-align: center;
  }

  .form__user-outer {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
  }

  .form__user-wrap {
    width: 380px;
  }

  .form__user-wrap:not(:last-child) {
    margin-bottom: 0;
  }

  .form__checkboxes {
    display        : flex;
    justify-content: space-between;
    align-items    : flex-end;
  }

  .form__fieldset_chk {
    width: 380px;
  }

  .form__wrap {
    justify-content: space-evenly;
  }

  .form__btn {
    margin: 40px 0;
  }
}