.overlay {
    position: absolute;
    left    : 0;
    top     : 0;

    display: none;
}

.overlay_active {
    display: block;
    width  : 100vw;
    height : 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    z-index         : 20;
}

.overlay_disactive {
    width  : 0;
    height : 0;
    z-index: 1;
}

.agreements__popup {
    position: absolute;
    top     : 0;
    right   : 0;
    bottom  : 0;
    left    : 0;

    margin: auto;
}

.popup {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    width          : 350px;
    height         : 300px;
    padding        : 0 15px;

    font-size  : 12px;
    text-align : justify;
    color      : #000;
    font-weight: 300;

    background-color: #fff;
    box-shadow      : 1px 1px 6px rgba(0, 0, 0, 0.3);

    animation         : fadeInDownBig;
    animation-duration: .4s;
}

.popup__close {
    position: absolute;
    top     : 10px;
    right   : 10px;

    width : 25px;
    height: 25px;

    font-size  : 20px;
    font-weight: 400;
}

.popup__btn-container {
    margin-top     : 50px;
    width          : 100%;
    display        : flex;
    justify-content: space-around;
}

.popup__btn {
    padding: 10px 20px;
}